html, body {
    margin: 0;
    padding: 0;
    background: transparent;
    text-align: center;
    font-family: Arial;
}

.hide {
    display: none;
}

#mainCanvas {
    border: 0;
    width: 640px;
    height: 480px;
    border-radius: 10px;
    z-index: 1;
}

#chatCommand {
    width: 300px;
    color: black;
    z-index: 2;
    text-align: center;
    font-weight: normal;
    font-size: large;
    margin: auto;
    padding: 10px;
}